* {
  box-sizing: border-box;
  margin: 0;
  border-radius: 10px;
  text-align: center;
}

.grid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(5, minmax(100px, 1fr));
  gap: 20px;
}


.header {
  background-color: #ff6347;
  grid-column: 1 / span 5;
  height: 100px;
  padding-top: 10px;
}

.aside1 {
  background-color: yellow;
  height: 300px;
}

.middle {
  background-color: deepskyblue;
  height: 300px;
  grid-column: 2 / span 3;
}

.aside2 {
  background-color: hotpink;
  height: 300px;
}

.footer {
  background-color: lightgreen;
  grid-column: 1 / span 5;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside1, .aside2, .middle {
    padding-top: 30px;
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  .grid {
    display: grid;
    grid-template-rows: repeat(auto, minmax(auto, 1fr));
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "middle middle"
      "aside1 aside2"
      "footer footer";
    gap: 20px;
  }

  .header {
    padding: 10px;
    grid-area: header;
  }

  .middle {
    padding-top: 30px;
    grid-area: middle;
  }

  .aside1 {
    grid-area: aside1;
    height: 70px;
  }

  .aside2 {
    grid-area: aside2;
    height: 70px;
  }

  .footer {
    grid-area: footer;
  }

  .aside1,
  .aside2,
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .middle {
    padding-top: 30px;
    grid-row: 2;
    grid-column: 1 / span 5;
  }
  .aside1{
    grid-row: 3;
    grid-column: 1 / span 5;;
    height: 90px;;
  }

  .aside2{
    grid-row: 4;
    grid-column: 1 / span 5;;
    height: 90px;
  }
  .aside1,
  .aside2,
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
